* {
    margin: 0;
    padding: 0;
}
body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.error-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    min-width: 50vh;
    height: auto;
    padding: 1rem;
    gap: 2rem;

    background-color: #f09090;
    border: #8b0000 1px solid;
    color: #8b0000;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    display: flex;
    flex-direction: column;
}
.error-modal-hidden {
    display: none !important;
}

.selects-div {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.hidden {
    display: none !important;
}

