*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    overflow-y: auto;

}
body::after {
    background-image: url("https://picsum.photos/2000");

}

h1, h2{
    width: 100%;
    text-align: center;
}

.wrap-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 6vh;
}

.hidden {
    display: none !important;
}

@media (width >= 800px){
    .wrap-cards{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap ;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}